body {
    background-color: #842002;
    background-image: url("/img/gift_bg.png");
    background-repeat: repeat;
}

div#header {
    min-height: 1.4rem;
    background-image: url("/img/gift_header.png");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

div#header .title {
    padding: 0.6rem 0.5rem 0.35rem 0.5rem;
}

div#cover {
    padding: 0 0.3rem 0.3rem 0.3rem;
}

#btn_receive {
    display: inline-block;
    width: 2.68rem;
    height: 0.55rem;
    border: none;
    background-color:transparent;
    background-image: url("/img/gift_receive.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

div#desc {
    padding: 0.3rem 0.3rem;
}

div#desc .usage {
    height: 4rem;
}

div#rule {
    margin-top: 0.3rem;
    padding: 0 0.4rem;
    color: #e7d5bf;
}

div#rule .title {
    line-height: 0.55rem;
    height: 0.55rem;
    font-size: 0.12rem;
}

div#footer {
    min-height: 0.4rem;
    background-image: url("/img/gift_footer.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
