.course-title {
    padding: 0.1rem;
    font-size: 0.19rem;
    background-color: #ffffff;
    color: #222222;
    text-align: left;
}

.list .element .right {
    position: relative;
}

.list .element .right .price {
    position: absolute;
    right: 0;
    bottom: 0.05rem;
    height: 0.2rem;
    line-height: 0.2rem;
    font-size: 0.14rem;
    color: #f67531
}

.list .element .right .price span {
    color: #333333;
}

.list .element .right .price span.number {
    color: #f67531;
    font-size: 0.2rem;
}

.list .element .right .price span.free {
    color: #f67531;
    font-size: 0.18rem;
}

.course.img {
    width: 100%;
    height: 2.5rem;
}

.course.img .scroll_wrap {
    height: 2.5rem;
}

.course.text.no-top-padding {
    padding-top: 0
}

.course.text.no-bottom-padding {
    padding-bottom: 0;
}

.course .price {
    height: 0.35rem;
    line-height: 0.35rem;
    font-size: 0.14rem;
}

.course .price span {
    font-size: 0.14rem;
    color: #f67531
}

.course .price span.number {
    font-size: 0.25rem;
}

.course .price span.free {
    font-size: 0.22rem;
}

.course .tag.img {
    width: 0.25rem;
    height: 0.25rem;
}

.course .tag.desc {
    margin-left: 0.08rem;
    margin-right: 0.15rem;
    height: 0.25rem;
    line-height: 0.25rem;
    color: #00c49d;
}

.course .right.tag.desc {
    margin-right: 0;
    color: #999999;
}

.course.text .title {
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.19rem;
}

.course.comment {
    background-color: #ffffff;
}

.course.comment .comment-avatar {
    padding: 0.1rem;
    width: 0.8rem;
}

.course.comment .comment-avatar img {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.3rem;
}

.course.comment .comment-info {
    width: 3.2rem;
    text-align: left;
}

.course.comment .comment-info .nickname {
    font-size: 0.18rem;
    line-height: 0.3rem;
}

.course.comment .comment-info .addtime,.children {
    color: #999999;
    line-height: 0.3rem;
}

.course.comment .comment-info .right {
    padding-right: 0.1rem;
}

.course.comment .comment-info .star {
    float: right;
    margin: 0.03rem 0 0.07rem 0.05rem;
    width: 0.2rem;
    height: 0.2rem;
}

.course.comment .comment-content {
    padding-top: 0.1rem;
}

.course.comment .comment-img {
    margin-top: 0.1rem;
}

.course.comment .comment-img img {
    float: left;
    margin-right: 0.1rem;
    width: 0.96rem;
    height: 0.96rem;
}

.course.comment .comment-img img:last-child {
    padding-right: 0;
}

.course.detail {
    background-color: #ffffff;
    text-align: left;
}

.course.detail .title {
    position: relative;
    padding: 0.05rem 0.1rem 0.05rem 0.4rem;
    line-height: 0.25rem;
    font-size: 0.17rem;
    font-weight: bold;
}

.course.detail .title .idx {
    position: absolute;
    left: 0.1rem;
    top: 0.05rem;
    width: 0.25rem;
    height: 0.25rem;
    line-height: 0.25rem;
    text-align: center;
    background-color: #00c49d;
    color: #ffffff;
    border-radius: 0.125rem;
}

.course.detail .img,.detail-text {
    padding: 0.1rem 0.1rem 0 0.1rem;
}

.course.place .img {
    line-height: 0.25rem;
}

.course.place .img img {
    margin: 0.04rem 0;
    width: 0.17rem;
    height: 0.17rem;
}

.course.place .name {
    line-height: 0.3rem;
}

.course.place .info {
    line-height: 0.25rem;
    font-size: 0.14rem;
    color: #666666;
}

.course .bookimg {
    width: 1.2rem;
    height: 1.2rem;
}

.course .bookimg img {
    border-radius: 0.05rem;
}

.course.teacher .left {
    width: 0.9rem;
}

.course.teacher .left img {
    border-radius: 0.45rem;
}

.course.teacher .right {
    width: 2.8rem;
}

.footer {
    height: 0.45rem;
    border: none;
}

.has-fix-footer {
    padding-bottom: 0.45rem;
}
