.list .element .left {
    width: 1.05rem;
}

.list .element .left img {
    width: 100%;
    height: 100%;
    border-radius: 0.05rem;
}

.list .element .right {
    width: 2.65rem;
}

.list .element .right .name {
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.18rem;
    font-weight: bold;
}

.list .element .right .education {
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.17rem;
}

.list .element .right .experience {
    font-size: 0.15rem;
    color: #999999;
}