.form dd.right.btn {
    margin-top: 0.01rem;
    margin-right: 0.075rem;
    width: 1.1rem;
    text-align: right;
}

.form .code dd {
    width: 1.75rem;
}

.form .code dd input {
    width: 1.45rem;
}

.form .code dd.btn .colddown {
    background: #999999;
}

.password-link {
    padding-right: 0.2rem;
    width: 100%;
    height: 0.45rem;
    line-height: 0.45rem;
    text-align: right;
}

.password-link a {
    color: #00c49d;
}

.register-link {
    width: 100%;
    height: 0.45rem;
    line-height: 0.45rem;
    text-align: center;
}

.register-link a {
    color: #00c49d;
}
