.city {
    margin-right: -0.7rem;
    width: 0.7rem;
    font-size: 0.18rem;
}

.banner {
    width: 100%;
    height: 2.25rem;
}

.banner .scroll_wrap {
    height: 2.25rem;
}

.banner .scroll_position {
    right: 0.3rem;
    text-align: right;
}

.events {
    margin-top: 0.125rem;
    padding: 0.08rem;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    background-color: #ffffff;
}

.events-line {
    border-bottom: 1px solid #e1e1e1;
}

.events-line a {
    color: #333333;
}

.events-line:last-child {
    border: none;
}

.event {
    padding: 0.05rem;
    width: 1.92rem;
    text-align: left;
}

.event.left {
    padding-right: 0.1rem;
}

.event.right {
    padding-left: 0.1rem;
}

.event .left {
    width: 1.15rem;
}

.event .title {
    height: 0.37rem;
    line-height: 0.37rem;
    font-weight: bold;
    font-size: 0.18rem;
}

.event .title.color1 {
    color: #ff961b;
}

.event .title.color2 {
    color: #8cd034;
}

.event .title.color3 {
    color: #ff709b;
}

.event .title.color4 {
    color: #59bfef;
}

.event .desc {
    height: 0.2rem;
    font-size: 0.14rem;
    color: #666666;
}

.event img {
    width: 0.57rem;
    height: 0.57rem;
}

.topic {
    position: relative;
    height: 2.25rem;
    text-align: center;
}

.topic img {
    margin: 0.17rem auto;
    width: 0.525rem;
    height: 0.32rem;
}

.topic .title {
    font-size: 0.18rem;
    color: #444444;
}

.topic .sub-title {
    width: 1.8rem;
    height: 0.4rem;
    line-height: 0.4rem;
    color: #999999;
    text-align: center;
}

.topic hr {
    margin-top: 0.18rem;
    width: 0.6rem;
    height: 1px;
    border: 0;
    background-color: #cccccc;
}

.topic hr.left {
    margin-left: 0.5rem;
}

.topic hr.right {
    margin-right: 0.5rem;
}

.topic .topic-icon {
    margin: 0.05rem auto;
    width: 0.48rem;
    height: 0.35rem;
}

.topic .joined {
    margin-top: 0.1rem;
}

.topic .joined span {
    padding: 0.05rem 0.1rem 0.05rem 0.1rem;
    border-radius: 0.04rem;
    font-size: 0.11rem;
    border: 1px solid #666666;
}

.topic .arrow img {
    position: absolute;
    top: 1.025rem;
    right: 0.125rem;
    margin: 0;
    width: 0.2rem;
    height: 0.2rem;
}

.free .subject {
    position: relative;
    margin-bottom: 0.125rem;
}

.free .subject .cover {
    position: relative;
    width: 100%;
    height: 2.01rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.free .subject .sold-out {
    position: absolute;
    left: 0;
    top: 0;
    width: 0.8rem;
    height: 0.8rem;
}

.free .subject .joined {
    position: absolute;
    top: 0.3rem;
    right: 0;
    padding: 0.02rem 0.1rem 0.03rem 0.15rem;
    background-image: url("/img/label3x.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: 0.12rem;
}

.free .subject .desc {
    position: relative;
    padding: 0.1rem 0.125rem;
    width: 100%;
    height: 0.76rem;
    background-color: #ffffff;
    text-align: left;
}

.free .subject .desc .left {
    width: 2.95rem;
}

.free .subject .desc .title {
    height: 0.32rem;
    line-height: 0.32rem;
    font-size: 0.18rem;
    color: #444444;
}

.free .subject .desc .intro {
    height: 0.25rem;
    line-height: 0.25rem;
    font-size: 0.125rem;
    color: #666666;
}

.free .subject .desc .intro .tags {
    margin-right: 0.05rem;
    padding: 0.03rem 0.05rem 0.02rem 0.05rem;
    background-color: #e1e1e1;
    color: #999999;
}

.free .subject .desc .price {
    margin: 0.08rem 0;
    width: 0.79rem;
    height: 0.4rem;
    line-height: 0.4rem;
    color: #f67531;
    text-align: center;

}

.free .subject .desc .price .number {
    font-size: 0.24rem;
}

.more {
    height: 0.4rem;
    line-height: 0.4rem;
    border-top: 1px solid #e1e1e1;
    background-color: #ffffff;
    font-size: 0.175rem;
    color: #999999;
}
