.form .line {
    padding: 0.125rem;
    height: 0.5rem;
    line-height: 0.5rem;
}

.form .line.large {
    height: 0.94rem;
    line-height: 0.94rem;
}

.form .line .img {
    margin-right: 0.1rem;
}

.form .line .img img {
    margin-top: 0.01rem;
    width: 0.25rem;
    height: 0.25rem;
}

.form .line.large .img img {
    margin: 0;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 0.35rem;
}

.form .line .info {
    margin: 0.01rem 0 0 0.1rem;
    height: 0.8rem;
}

.form .line .info #nickname {
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 0.18rem;
    font-weight: bold;
}

.form .line .title {
    margin: 0.02rem 0 0 0;
    height: 0.25rem;
    line-height: 0.25rem;
    font-size: 0.16rem;
}

.form .line .arrow img {
    margin-top: 0.04rem;
    width: 0.2rem;
    height: 0.2rem;
}

.form .line.large .arrow img {
    margin-top: 0.25rem;
}

.form .line.large .not-login-tips {
    height: 0.3rem;
    line-height: 0.3rem;
    text-align: center;
}

.form .line.large .not-login-button {
    height: 0.35rem;
    line-height: 0.35rem;
    text-align: center;
}

.form .line.large .not-login-button button {
    padding: 0 0.1rem;
    height: 0.3rem;
}
