.logo {
    padding: 0.5rem 0 0.2rem 0;
    width: 100%;
}

.logo img {
    width: 30%;
}

.tips {
    height: 0.6rem;
    font-size: 0.16rem;
    color: #999999;
    text-align: center;
}

.tips p {
    margin: 0.1rem 0;
}
