.subject.img {
    width: 100%;
    height: 2.5rem;
}

.subject.img .scroll_wrap {
    height: 2.5rem;
}

.subject .price {
    height: 0.45rem;
    line-height: 0.45rem;
    font-size: 0.19rem;
}

.subject .price span {
    font-size: 0.14rem;
    color: #f67531
}

.subject .price span.number {
    font-size: 0.25rem;
}

.subject .button {
    height: 0.45rem;
    line-height: 0.45rem;
}

.subject .btn-orange {
    padding-top: 0.08rem;
}

.subject .tag.img {
    width: 0.25rem;
    height: 0.25rem;
}

.subject .tag.desc {
    margin-left: 0.08rem;
    margin-right: 0.15rem;
    height: 0.25rem;
    line-height: 0.25rem;
    color: #00c49d;
}

.subject .right.tag.desc {
    margin-right: 0;
    color: #999999;
}

.subject.text .title {
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.19rem;
}

.subject.list .element .right {
    position: relative;
}

.subject.list .element .right .price {
    position: absolute;
    right: 0;
    bottom: 0.05rem;
    height: 0.2rem;
    line-height: 0.2rem;
    font-size: 0.14rem;
}

.subject.list .element .right .price span {
    color: #333333;
}

.subject.list .element .right .price .number {
    color: #f67531;
    font-size: 0.2rem;
}

.subject.list .element .right .price .free {
    color: #f67531;
    font-size: 0.18rem;
}

.subject.text .notice {
    font-size: 0.16rem;
}

.subject.text .notice.title {
    color: #999999;
}

.subject.text .notice.content {
    text-align: left;
}
