.subject.img {
    width: 100%;
    height: 3rem;
}

.subject.img .scroll_wrap {
    height: 3rem;
}

.subject .price {
    height: 0.45rem;
    line-height: 0.45rem;
    font-size: 0.19rem;
}

.subject .price span {
    font-size: 0.14rem;
    color: #f67531
}

.subject .price span.number {
    font-size: 0.25rem;
}

.subject .button {
    height: 0.45rem;
    line-height: 0.45rem;
}

.subject .tag.img {
    width: 0.25rem;
    height: 0.25rem;
}

.subject .tag.desc {
    margin-left: 0.08rem;
    margin-right: 0.15rem;
    height: 0.25rem;
    line-height: 0.25rem;
    color: #00c49d;
}

.subject.text .title {
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.19rem;
}

.subject.list .element .left {
    width: 1.4rem;
    height: 1.05rem;
}

.subject.list .element .left img {
    width: 100%;
    height: 100%;
    border-radius: 0.05rem;
}

.subject.list .element .right {
    position: relative;
    width: 2.3rem;
}

.subject.list .element .right .title {
    margin-bottom: 0.05rem;
    height: 0.4rem;
    line-height: 0.4rem;
    font-weight: bold;
    font-size: 0.17rem;
    color: #333333;
}

.subject.list .element .right .intro {
    margin-bottom: 0.05rem;
    height: 0.26rem;
    line-height: 0.26rem;
    font-size: 0.15rem;
    color: #999999;
}

.subject.list .element .right .region {
    font-size: 0.15rem;
    color: #999999;
}

.subject.list .element .right .price {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 0.2rem;
    line-height: 0.2rem;
    font-size: 0.14rem;
    color: #f67531
}

.subject.list .element .right .price .number {
    font-size: 0.2rem;
}

.subject.text .notice {
    font-size: 0.16rem;
}

.subject.text .notice.title {
    color: #999999;
}

.subject.text .notice.content {
    text-align: left;
}
