#intro {
    padding: 0.125rem;
    background-color: #ffffff;
}

.subject .price {
    height: 0.45rem;
    line-height: 0.45rem;
    font-size: 0.19rem;
}

.subject .price span {
    font-size: 0.14rem;
    color: #f67531
}

.subject .price span.number {
    font-size: 0.25rem;
}

.price span.price-desc {
    width: 0.5rem;
}

.subject .button {
    height: 0.45rem;
    line-height: 0.45rem;
}

.subject .btn-orange {
    padding-top: 0.08rem;
}

.subject .tag.img {
    width: 0.25rem;
    height: 0.25rem;
}

.subject .tag.desc {
    margin-left: 0.08rem;
    margin-right: 0.15rem;
    height: 0.25rem;
    line-height: 0.25rem;
    color: #00c49d;
}

.subject .right.tag.desc {
    margin-right: 0;
    color: #999999;
}

.courses {
    background-color: #ffffff;
}

.course {
    position: relative;
    margin: 0 0.125rem 0.125rem 0.125rem;
    height: 2.5rem;
    border-radius: 0.05rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.course .joined {
    position: absolute;
    top: 0.3rem;
    right: 0;
    padding: 0.02rem 0.1rem 0.03rem 0.15rem;
    background-image: url("/img/label3x.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: 0.12rem;
}

.course .info {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.125rem;
    width: 100%;
    height: 0.7rem;
    color: #ffffff;
    border-bottom-right-radius: 0.05rem;
    border-bottom-left-radius: 0.05rem;
}

.course .info .age img {
    float: left;
    margin: 0.03rem 0.05rem 0 0;
    width: 0.15rem;
    height: 0.15rem;
}

.gradient {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.course .info .title {
    font-size: 0.17rem;
}

.subject.comment {
    background-color: #ffffff;
}

.subject.comment .title {
    padding: 0.125rem;
    height: 0.5rem;
    line-height: 0.32rem;
    font-size: 0.18rem;
}

.subject.comment .comment-avatar {
    padding: 0.1rem;
    width: 0.8rem;
}

.subject.comment .comment-avatar img {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.3rem;
}

.subject.comment .comment-info {
    width: 3.2rem;
    text-align: left;
}

.subject.comment .comment-info .nickname {
    font-size: 0.18rem;
    line-height: 0.3rem;
}

.subject.comment .comment-info .addtime,.children {
    color: #999999;
    line-height: 0.3rem;
}

.subject.comment .comment-info .right {
    padding-right: 0.1rem;
}

.subject.comment .comment-info .star {
    float: right;
    margin: 0.03rem 0 0.07rem 0.05rem;
    width: 0.2rem;
    height: 0.2rem;
}

.subject.comment .comment-content {
    padding-top: 0.1rem;
}

.subject.comment .comment-img {
    margin-top: 0.1rem;
}

.subject.comment .comment-img img {
    float: left;
    margin-right: 0.1rem;
    width: 0.96rem;
    height: 0.96rem;
}

.subject.comment .comment-img img:last-child {
    padding-right: 0;
}

.subject.text {
    padding: 0.125rem;
    background-color: #ffffff;
}

.subject.text .notice {
    font-size: 0.16rem;
}

.subject.text .notice.title {
    height: 0.35rem;
    line-height: 0.35rem;
    font-size: 0.17rem;
}

.subject.text .notice.content {
    margin-bottom: 0.2rem;
    text-align: left;
    color: #888888;
}

.subject.text .notice.content:last-child {
    margin-bottom: 0;
}

.footer {
    padding: 0;
    height: 0.64rem;
    border: none;
}

.has-fix-footer {
    padding-bottom: 0.74rem;
}

.footer .left {
    padding: 0.15rem 0.1rem;
    width: 2.1rem;
    height: 0.64rem;
    line-height: 0.3rem;
    font-size: 0.18rem;
    text-align: left;
}

.footer .left .number {
    font-size: 0.25rem;
    color: #f67531;
}

.btn-orange,.btn-gray {
    width: 1.9rem;
    height: 0.64rem;
    border-radius: 0;
}

.logo {
    padding: 0.5rem 0 0.2rem 0;
    width: 100%;
}

.logo img {
    width: 30%;
}

.tips {
    height: 0.6rem;
    font-size: 0.16rem;
    color: #999999;
    text-align: center;
}

.tips p {
    margin: 0.1rem 0;
}

.more {
    padding: 0.125rem;
    text-align: center;
    background-color: #ffffff;
}

.price span.price-desc {
    width: 0.35rem;
    font-size: 0.17rem;
    line-height: 0.18rem;
}

.module {
    background-color: #ffffff;
}

.module .head {
    margin: 0 0.1rem 0 0.1rem;
    padding: 0.1rem 0.05rem;
    text-align: center;
    color: #00c49d;
    font-size: 0.18rem;
    border-bottom: 0.05rem solid #00c49d;
}

hr.green {
    margin: 0.05rem 0.1rem 0.08rem 0.1rem;
    background-color: #00c49d;
}

hr.sep {
    margin-left: 0.1rem;
}

.lesson {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.125rem;
    color: #ffffff;
    background-color: rgba(0, 196, 157, 0.5);
    font-size: 0.2rem;
}