.tab {
    width: 100%;
    height: 0.55rem;
    color: #333333;
}

.tab .left {
    width: 50%;
    line-height: 0.53rem;
}

.tab .left.on {
    border-bottom: 0.02rem solid #00c49d;
    color: #00c49d;
}

.list .booked {
    position: relative;
}

.list .booked .element {
    margin-left: 0.1rem;
    padding-left: 0;
}

.list .booked .btn {
    position: absolute;
    top: 0.35rem;
    right: 0.1rem;
    width: 0.85rem;
    height: 0.4rem;
}

.list .booked .btn .btn-orange {
    padding-top: 0.05rem;
}
