.title {
    padding: 0.125rem;
    height: 0.45rem;
    line-height: 0.2rem;
    color: #999999;
    text-align: left;
}

.profile {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    background-color: #ffffff;
}

.profile .line {
    padding: 0.125rem;
    height: 0.5rem;
    background-color: #ffffff;
}

.profile .line.large {
    height: 0.94rem;
}

.profile .line .left {
    margin: 0.01rem 0 0 0;
    width: 1rem;
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.16rem;
    text-align: left;
}

.profile .line.large .left {
    height: 0.7rem;
    line-height: 0.7rem;
}

.profile .line .arrow img {
    margin-top: 0.045rem;
    width: 0.2rem;
    height: 0.2rem;
}

.profile .line.large .arrow img {
    margin-top: 0.26rem;
}

.profile .line.large .avatar img {
    margin-top: 0;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 0.35rem;
}

#browsefile{
    position: absolute;
    z-index: 1;
    right: 0;
    height: 0.7rem;
    outline: none;
    opacity: 0;
}

.profile .line .info {
    margin: 0 0.1rem 0 0;
    height: 0.3rem;
    line-height: 0.3rem;
    color: #999999;
    font-size: 0.16rem;
    text-align: right;
}
