body {
    background-color: #ffffff;
}

.logo {
    padding: 0.5rem 0 0.2rem 0;
    width: 100%;
}

.logo img {
    width: 30%;
}

.title {
    line-height: 0.6rem;
    font-size: 0.3rem;
    font-weight: bold;
}

.desc {
    font-size: 0.18rem;
}

.btn .left,.right {
    margin-top: 0.3rem;
    width: 50%;
}